<% provide(:title, 'All users') %>
<h1>All users</h1>

<%# show only 30 users at a time with a gem %>
<%= will_paginate %>

<ul class="users">

   <%= render @users %>

</ul>

<%= will_paginate %>
